.node {
    color: white;
    user-select: none;

    font-size: 14px;
    min-width: 1em;
    width: fit-content;
    height: fit-content;
    margin: 0.2em;
    padding: 0.2em;

    font-family: Fira sans;
    text-shadow: 0px 1px 2px black;
    white-space: nowrap;

    background: lch(35 50 calc(40 * var(--depth) + 20));
    border-radius: 0.5em;
    border-style: solid;
    border-width: 0.1em 0 0.1em 0;
    border-color: #fff8 transparent #0008 transparent;

    box-shadow: 0 0.05em 0.1em black;
}

.selected > .node {
    box-shadow: none;
    outline: 0.18em solid yellow;
}

.node.leaf {
    background: lch(45 50 calc(40 * var(--depth) + 20));
}

.node.number {
    font-weight: bold;
}

.node.operator, .node.leaf {
    text-align: center;
}

.node.operator > .op {
    font-family: monospace;
}

.node > .children {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.node.indexList {
    display: flex;
    border: 0.1em solid #fff8;
    border-radius: 0.7em;
    margin: 0.1em;
    box-shadow: none;
 }

.node.indexList > .op {
    display: none;
}

.node.indexList > .children {
    align-items: end;
}

.node.funCall {
    display: flex;
    align-items: center;
}

.node.funCall .args {
    min-width: 1em;
    min-height: 1.2em;
    height: fit-content;
    margin: 0.2em;
    padding: 0.2em;

    display: flex;
    align-items: center;
    background: #0002;

    border-style: solid;
    border-width: 0.1em 0 0.1em 0;
    border-color: #0008 transparent #fff8 transparent;
    border-radius: 0.7em;
}

.node.placeholder {
    background: #0004 !important;
    border-color: #0008 transparent #fff8 transparent;
    min-width: 1em;
    min-height: 1em;
    box-shadow: none;
}

.node.placeholder::after,
.node.unknownOp > .op::after {
    content: "<?>";
    color: red;
}
